In [7]:
import pandas as pd
import numpy as np
import os
print(os.environ['IEX_TOKEN'])

pk_2f841cbff2d6422ab0145ada59fa5d34

In [2]:
# Finance data time
from datetime import datetime
from iexfinance.stocks import get_historical_data

start = datetime(2019, 1, 1)
end = datetime(2019, 6, 15)
pd.options.display.float_format = '{:,.2f}'.format
df = pd.DataFrame(get_historical_data("AAPL", start, end, close_only=True)).transpose()

In [96]:
def streaker(x, count):
    if(x > 1):
        count += 1
    else:
        count = 0
    return count

In [97]:
df['log_returns'] = np.log(df['close']/df['close'].shift(1))

In [98]:
df['ups'] = np.where(df['log_returns'] > 0, 1, 0)
df['downs'] = np.where(df['log_returns'] <= 0, 1, 0)
df['trend_up'] = np.cumsum(df['ups'])
df['trend_down'] = np.cumsum(df['downs'])

In [101]:
df['streaks'] = df['log_returns'].apply(streaker(df['trend_count'][0]))

TypeError: streaker() missing 1 required positional argument: 'count'

In [100]:
df[:20]

,close,volume,one_lag,trend_count,log_returns,ups,downs,trend_up,trend_down,streaks
2019-01-02,157.92,"37,039,737.00",nan,nan,nan,0,0,0,0,0
2019-01-03,142.19,"91,312,195.00",0.90,-2.00,-0.10,0,1,0,1,0
2019-01-04,148.26,"58,607,070.00",1.04,4.00,0.04,1,0,1,1,0
2019-01-07,147.93,"54,777,764.00",1.00,2.00,-0.00,0,1,1,2,0
2019-01-08,150.75,"41,025,314.00",1.02,4.00,0.02,1,0,2,2,0
2019-01-09,153.31,"45,099,081.00",1.02,4.00,0.02,1,0,3,2,0
2019-01-10,153.80,"35,780,670.00",1.00,4.00,0.00,1,0,4,2,0
2019-01-11,152.29,"27,023,241.00",0.99,2.00,-0.01,0,1,4,3,0
2019-01-14,150.00,"32,439,186.00",0.98,2.00,-0.02,0,1,4,4,0
2019-01-15,153.07,"28,710,324.00",1.02,4.00,0.02,1,0,5,4,0
2019-01-16,154.94,"30,569,706.00",1.01,4.00,0.01,1,0,6,4,0
2019-01-17,155.86,"29,821,160.00",1.01,4.00,0.01,1,0,7,4,0
2019-01-18,156.82,"33,751,023.00",1.01,4.00,0.01,1,0,8,4,0
2019-01-22,153.30,"30,393,970.00",0.98,2.00,-0.02,0,1,8,5,0
2019-01-23,153.92,"23,130,570.00",1.00,4.00,0.00,1,0,9,5,0
2019-01-24,152.70,"25,441,549.00",0.99,2.00,-0.01,0,1,9,6,0
2019-01-25,157.76,"33,547,893.00",1.03,4.00,0.03,1,0,10,6,0
2019-01-28,156.30,"26,192,058.00",0.99,2.00,-0.01,0,1,10,7,0
2019-01-29,154.68,"41,587,239.00",0.99,2.00,-0.01,0,1,10,8,0
2019-01-30,165.25,"61,109,780.00",1.07,4.00,0.07,1,0,11,8,0